@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Work+Sans:wght@600&display=swap");

#image {
  /* background-image: url("https://images.unsplash.com/photo-1498307833015-e7b400441eb8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1828&q=80"); */
  position: absolute;
  width: 1440px;
  height: 1100px;
  left: 0px;
  top: 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(358.95deg, #032b3f 0.93%, rgba(3, 43, 63, 0) 24.63%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://images.unsplash.com/photo-1498307833015-e7b400441eb8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1828&q=80");
}

#destinationDiv {
  position: absolute;
  width: 750px;
  height: 129px;
  left: 20px;
  top: 50px;
}

#firstDestinationHeader {
  position: absolute;
  width: 750px;
  height: 54px;
  left: 393px;
  top: 200px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: 0.04em;

  color: white;
}

#secondDestinationHeader {
  position: absolute;
  width: 750px;
  height: 75px;
  left: 432px;
  top: 230px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  /* identical to box height */

  color: #ffffff;
}

#choose {
  position: absolute;
  width: 578px;
  height: 33px;
  left: 430px;
  top: 350px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.04em;

  color: #d6d94c;
}
