@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Work+Sans:wght@600&display=swap");

#citiesMain {
  display: flex;
  width: 1440px;
  overflow-x: visible;
  height: fit-content;
}

#start {
  position: absolute;
  height: 49px;
  left: 642px;
  top: 160px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  /* identical to box height */

  color: #000000;
}

#traveling {
  position: absolute;
  height: 75px;
  left: 586px;
  top: 198px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;
  color: #d6d94c;
}

.loader {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 675px;
  top: 350px;
}

.loader:before,
.loader:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px #8F920E(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #b8bc00 inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
